<!doctype html>
<html>
  <head lang="zh-TW">
    <title><%= name %> - <%= count %> views</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <style>
      #number {
        font-size:32px;
        text-align:center;
        vertical-align:middle;
      }
      .placeholder {
        height : 100%;
        width : 0px;
        display : inline-block;
        vertical-align:middle;
      }
    </style>
    <% include ../../__shared/views/head %>
  </head>
  <body>
    <% include ../../__shared/views/header %>
    <div class="content">
      <div id="number">
        this tracker has been viewed <%= count %> times
        <div class="placeholder"></div>
      </div>
    </div>
    <% include ../../__shared/views/footer %>
  </body>
</html>