<!doctype html>
<html>
  <head lang="zh-TW">
    <title>Test</title>
    <style>
      #number {
        position:fixed;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        font-size:32px;
      }
      .placeholder {
        height : 100%;
        width : 0px;
        display : inline-block;
      }
    </style>
  </head>
  <body>
    <div id="number">
      <%= Date.now() %>
      <div class="placeholder"></div>
    </div>
  </body>
</html>